body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 215, 232);
  }
  
  header {
    background-color: rgb(249, 215, 232);
    color: #fff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .header{
    font-family: 'Prompt', sans-serif;
    font-size: xx-large;
    color: rgb(249, 215, 232);
    display: flex;
    justify-content: center;
    border: #000000;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: black;
    margin: 0.7rem;
    padding: 0.16rem;
}
  
  h1 {
    font-size: 24px;
    width: 90%;
    background-color: rgb(31, 137, 255);
  }

  h2{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
  }
  
  main {
    margin: 80px 0;
    background-color: rgb(249, 215, 232);
  }
  
  section {
    padding: 30px;
  }
  
  button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 15px;
  }

.linha_rodape{
  display: flex;
  flex-direction: row;
}

.img_rodape_esq{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: flex-start;
  margin-left: 0.5rem;
}

footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: rgb(249, 215, 232);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
  