body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249, 215, 232);
  }
  
  header {
    background-color:  rgb(31, 137, 255);
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  h1 {
    font-size: 24px;
    width: 90%;
  }

  h2{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
  }
  
  main {
    margin: 80px 0;
    background-color: rgb(249, 215, 232);
  }
  
  section {
    padding: 30px;
  }
  
  button {
    background-color: #333;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    margin-top: 15px;
  }

.linha_rodape{
  display: flex;
  flex-direction: row;
}

.img_rodape_esq{
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: flex-start;
  margin-left: 0.5rem;
}

footer{
  padding: 7.5px;
}
  