body{
    background-color: rgb(249, 215, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:97.5vh;
}

.contatos{
    color: rgb(249, 215, 232);
    display: flex;
    justify-content: center;
    background-color: rgb(31, 137, 255);
    border-style: solid;
    border-radius: 0.5rem;
    border-color: black;
}

.cor_fundo{
    color: #000000;
    background-color:rgb(152, 194, 245);
}

.coluna_ctt{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;
    background-color: rgb(152, 194, 245);
}

.coluna_ctt1{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right-style: solid;
    border-right-color: black;
    background-color: rgb(152, 194, 245);
    padding: 2%;
}

.coluna_ctt2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color: rgb(152, 194, 245);
}

.coluna_ctt3{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left-style: solid;
    border-left-color: black;
    padding: 2%;
    background-color: rgb(152, 194, 245);
}

.linha_ctt{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    width: 100%;
    border-top: solid;
    border-color: black;
    background-color: rgb(152, 194, 245);
}

.linha_paciente{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    width: 100%;
    background-color: rgba(118, 179, 118, 0.7);
}

.linha_normal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perfil{
    width: 4.18rem;
    height: 4.18rem;
    padding: 2%;
    border-right: solid;
    border-color: black;
}

.nome{
    display: flex;
    justify-content: left;
    padding-left: 1.5rem;
    color: #000000;
}

.img_rodape{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
}

.img_rodape_dir{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-right: 0.5rem;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a{
    color: #000000;
    text-decoration: none;
}

.paula{
    width: 5rem;
    height: 5rem;
    margin-left: auto;
    margin-right: auto; 
    display: block;
}

.fonte{
    color:#000000;
    border: 1rem solid #000000;
    background-color: rgb(152, 194, 245);
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    font-size: x-large;
}

.novo_nome{
    display: flex;
    justify-content: left;
    color: #000000;
}

ul{
    padding-left: 0rem;
    list-style: none;
    margin: 0rem;
}

li{
    padding-left: 1.5rem;
    padding-bottom: .5rem;
    margin: 0rem;
}

.teste{
    margin: 0rem;
}


.linha{
    display: flex;
    flex-direction: row;
    border-color: black;
    background-color: rgb(152, 194, 245);
    border-style: solid;
    border-radius: 1rem;
    align-items: center;
}

.coluna{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-color: black;
    margin-right: 7.7rem;
    margin-left: 7.7rem;
}

.img{
    width: 6.4rem;
    height: 6.4rem;
}


.linha_ctt1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-color: black;
    background-color: rgb(152, 194, 245);
    border-style: solid;
    border-radius: 2rem;
}

.centro{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.foto{
    width: 15rem;
    height: 15rem;
}

.img2{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    background-color: rgb(152, 194, 245);
    border-style: solid;
    border-color: #000000;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-right: -0.01rem;
    padding: 0.5rem;
}

.img3{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    background-color: rgb(152, 194, 245);
    border-style: solid;
    border-color: #000000;
    border-left: none;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 0.5rem;
}

.linha_normal{
    display: flex;
    flex-direction: row;
}

.roda_esq{
    display: flex;
    justify-content: left;
}

.container {
    display: grid;
    justify-items: center;
    
    grid-template-columns: repeat(3,1fr);
    padding: 0.5rem;
}
.item {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgb(152, 194, 245);
    text-align: center;
    border-style: solid;
}

.item_top_esq {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgb(152, 194, 245);
    text-align: center;
    border-style: solid;
    border-top-left-radius: 0.5rem;
}

.item_top_dir {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgb(152, 194, 245);
    text-align: center;
    border-style: solid;
    border-top-right-radius: 0.5rem;
}

.item_bottom_esq {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgb(152, 194, 245);
    text-align: center;
    border-style: solid;
    border-bottom-left-radius: 0.5rem;
}

.item_bottom_dir {
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: rgb(152, 194, 245);
    text-align: center;
    border-style: solid;
    border-bottom-right-radius: 0.5rem;
}

.linha_rodape{
    display: flex;
    flex-direction: row;
}