*{
    font-family: 'PT Serif', serif;
}

body{
    background-color:rgb(249, 215, 232);
   
}

.cabecalho{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:  rgb(31, 137, 255);
    justify-content: space-evenly;
}

.contato{
    background-color: "#9564F5";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.05rem;
    margin-bottom: -2.5rem;
}

.img-usuario{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-left: 1rem;
}

.info-usuario{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

.nome-usuario{
    font-family: 'Prompt', sans-serif;;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: rgb(249, 215, 232);
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.descricao-usuario{
    font-size: large;
    color: rgb(249, 215, 232);
    display: flex;
    justify-content: center;
}

.nav-acoes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.nav-acoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lista-acoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#close, #search{
    background-color: transparent;
    color: white;
    border: 0;
    width: 1rem;
    height: auto;
    margin: 1rem;
}

h2{
    font-size: 1.2rem;
    color: black;
}

.h3_dir{
    font-size: 0.8rem;
    color: black;
    font-weight: lighter;
    font-style: italic;
    margin: 0.5rem;
    margin-right: -1.7rem;
}

.h3_esq{
    font-size: 0.8rem;
    color: black;
    font-weight: lighter;
    font-style: italic;
    margin: 0.5rem;
    margin-left: -1.7rem;
}

.msg-titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.msg-titulo-invertido{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
}

.msg-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(249, 215, 232);
    padding-top: 11rem;
    padding-bottom: 4rem;
    start
}

.msg-resposta, .msg-usuario{
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2.5rem;
    padding: 1rem;
    color: black;
}

.msg-usuario{
    align-self: flex-start;
}

.msg-resposta{
    align-self: flex-end;
}

.bolha-usuario{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    background-color:rgb(152, 194, 245);
    padding: 1rem;
    border-radius: 0.5rem;
}

.bolha-resposta{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    background-color: rgba(118, 179, 118, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
}

.bloco-envio-msg{
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    margin: 1.2rem;
}

.entrada-msg{
    width: 80%;
    margin-right: 1%;
    border: black 1px solid;
    border-radius: 0.5rem;
}

.botao-enviar{
    width: 20%;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(31, 137, 255);
    border-radius: 0.5rem;
}

input[type="text"]
{
    padding: 0.4rem;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
    .cabecalho{
        display: block;
        text-align: center;
    }

    .nav-acoes{
        display: flex;
        justify-content: center;
    }

    .img-usuario{
        align-self: center;
    }

    .bolha-resposta, .bolha-usuario{
        width: 100%;
    }

   .botao-enviar{
       font-size: 1rem;
   }
}

@media only screen and (max-width: 600px) {
    .entrada-msg{
        width: 70%;
    }
    
    .botao-enviar{
        width: 30%;
    }
}

.contatos{
    font-family: 'Prompt', sans-serif;
    font-size: 1.5rem;
    color: rgb(249, 215, 232);
    display: flex;
    justify-content: center;
    background-color: rgb(31, 137, 255);
    margin-bottom: 0.2rem;
}

.linha_rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_rodape_esq{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: flex-start;
    margin: 0.6rem;
}

.paula-conversa{
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 5rem;
    border: 0.1rem solid black;
}

footer{
    background-color: rgb(249, 215, 232);
    bottom: 0;
    left: 0;
    height: 80px;
    position: fixed;
    width: 101%;
}