body{
    background-color: rgb(249, 215, 232);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:97.5vh;
}

.header{
    font-family: 'Prompt', sans-serif;
    font-size: xx-large;
    color:rgb(249, 215, 232);
    display: flex;
    justify-content: center;
    background-color: rgb(31, 137, 255);
    border: #000000;
    border-style: solid;
    border-radius: 0.5rem;
    margin: 0.7rem;
    padding: 0.2rem;
}

.header2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.size_cab{
    margin-left: 5%;
    font-size: x-large;
    font-family: 'Prompt', sans-serif;
}

h1,h2{
    margin: 0rem;
}

h4{
    font-size: large;
    margin: 1rem;
}

.p2{
    font-family: 'PT Serif', serif;
    font-size:x-large;
    padding-left: 1.5rem;
}

a{
    color: #000000;
    text-decoration: none;
}

ul{
    list-style: none;
    padding: 0rem;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.status{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    left: 0rem;
    margin-bottom: 10%;
}

.alinhamento,.a{
    font-family: 'PT Serif', serif;
    align-self: center;
}

.img_perfil_h{
    width: 8rem;
    height: 8rem;
    margin: 2%;
    margin-right: 1.5rem;
}

.img_perfil{
    width: 4.18rem;
    height: 4.18rem;
    padding: 2%;
}

.img_icons{
    width: 4.18rem;
    height: 4.18rem;
    padding: 10%;
}

.nome{
    font-family: 'PT Serif', serif;
    font-size: xx-large;
    display: flex;
    justify-content: left;
    color: #000000;
}

.options{
    font-size: x-large;
    width: 85vw;
    height: 5rem;
    margin-top: .5rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content:left;
    background-color: rgb(152, 194, 245);
    border: #000000;
    border-style: solid;
    border-radius: 0.7rem;
    border-color: black;
    align-items: center;
    color: #000000;
}

.perfil{
    font-family: 'PT Serif', serif;
    font-size: x-large;
    width: 85vw;
    height: 5rem;
    margin-top: .8rem;
    display: flex;
    justify-content:left;
    background-color: rgb(152, 194, 245);
    border: #000000;
    border-style: solid;
    border-radius: 0.7rem;
    border-color: black;
    align-items: center;
    color: #000000;
}

.row_cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row_calendario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bloco_calendario{
    width: 1vh;
    height: 1vw;
    display: flex;
    justify-content:center;
    background-color: rgb(152, 194, 245);
    border: #000000;
    border-style: solid;
    border-width: .1rem;
    border-radius: 0.35rem;
    border-color: black;
    align-items: center;
    color: #000000;
    padding: 1rem;
}

.set_alinhamento_calendario{
    display: flex;
    flex-direction: column;
}

.img_rodape{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-left: 15%;
}

.linha_normal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img_rodape_dir{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    margin-right: 0.5rem;
}

.roda_esq{
    display: flex;
    justify-content: left;
}

.data{
    font-family: 'Prompt', sans-serif;
    font-size: x-large;
    padding-top: 1rem;
    margin-bottom: .5rem;
}

.linha_tarefas{
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    width: 100%;
    border-top: solid;
    border-color: black;
    background-color: rgb(152, 194, 245);
}

.linha_tarefas1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: initial;
    width: 100%;
    border-color: black;
    background-color: rgb(152, 194, 245);
    border-radius: 1rem;
}

.coluna_tarefas{
    font-family: 'PT Serif', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #000000;
    border-style: solid;
    border-color: black;
    border-radius: 0.4rem;
    background-color: rgb(152, 194, 245);
    margin-right: 5%;
    margin-left: 5%;
}

.borda_tarefas{
    border-left: solid;
    border-color: black;
}

.linha_rodape{
    display: flex;
    flex-direction: row;
}

.img_rodape_esq{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: flex-start;
    margin-left: 0.5rem;
}