.popup-wrapper{
    display: none;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup1{
    display: flex;
    align-items: center;
    text-align:center;
    background: rgb(31, 137, 255);
    border-radius: 10px;
    border-style: solid;
    border-width: 0.15rem;
    border-color: black;
    height: 12%;
    width: 72%;
    padding: 1rem;
    position: absolute;
    top: 37%;
    left: 10%;
}

.texto_popup{
    font-family:'PT Serif', serif;
    font-size:medium;
    line-height: 1.5;
}