body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height:97.5vh;
}


a:link {
    color: #000000;
    text-decoration: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 1rem;
}

.perfil{
    width: 8rem;
    height: 8rem;
    margin-right: 2rem;
    margin-left:0rem;
    
}

.img_pacientes{
    width: 4rem;
    height: 4rem;
    margin: auto;
    
}

.img_tutoriais{
    width: 4rem;
    height: 4rem;
    margin: auto;
}

.img_contatos{
    width: 4rem;
    height: 4rem;
    margin: auto;
}

.cab1{
    font-size:x-large;
    margin: auto;
    color: rgb(0, 0, 0)
}

.cab{
    margin: auto;
    color: rgb(0, 0, 0)
}

.coluna {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.linha {
    display: flex;
    flex-direction: row;
}

.margem{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.bloco_dir{
    font-size: x-large;
    width: 13rem;
    height: 5rem;
    display: flex;
    justify-content:right;
    background-color: cyan;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    align-items: center;
    padding-left: 1rem;
    color: #000000;
}
.bloco_esq{
    font-size: x-large;
    width: 13rem;
    height: 5rem;
    display: flex;
    justify-content: left;
    background-color: cyan;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    align-items: center;
    padding-left: 1rem;
    color: #000000;
}

.joga_dir{
    display: flex;
    justify-content: right;
    margin-bottom: 10%;
}

.joga_esq{
    display: flex;
    justify-content: left;
    margin-bottom: 10%;
}

.bola{
    border-radius: 50%;
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border: 2.5px solid #000000;
    background-color: #7ee3ff;
    margin-left: 7.3rem;
    position: absolute;
    bottom: 19.5%;

}

.img_rodape_options{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    background-color: cyan;
    border-style: solid;
    border-color: #000000;
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    margin-right: -0.01rem;
}

.img_rodape_config{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: end;
    margin-right: 0.5rem;
    background-color: cyan;
    border-style: solid;
    border-color: #000000;
    border-left: none;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.coluna_topicos{
    display: flex;
    flex-direction: column;
}

.linha_normal{
    display: flex;
    flex-direction: row;
}